<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MenuRecognition</title>
	<style>
		.head {
			background-color: rgb(1, 133, 119);
			color: white;
			text-align: left;
			padding: 10px;
			width: 800px
			height: 400px;

		}
		.btn_layout {
			margin: 5px;
			text-align: center;
		}
		.btn{
			background-color: rgb(214, 216, 215);
			border-style: none;
			border-radius: 2px;
			color: black;
		}
	</style>
</head>
<body>
	<div class="head">MenuRecognition</div>
	<div class="btn_layout">
		<button class="btn">点击拍照</button>
		<button class="btn">点击识别</button>
		<button class="btn">选取照片</button>
	</div>
	<div class="img">
		<img src="">
	</div>
</body>
</html>